.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}
.btn{
  padding: 5px 12px;
  font-size: 12px;
}
#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#reg_btn:hover span {
padding-right: 25px;
}
#reg_btn:hover span:after {
opacity: 1;
right: 0;
}
h2 {
  font-weight: 300
}
form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}
.sign_in{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign_in form{
  max-width: 600px;
}
form label {
  text-align: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}
.font-12{font-size: 12px;}
.log_in{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}
.form-control {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  height: 34px;
  font-size: 14px !important;
  line-height: 18px !important;
  outline: none;
  border: none;
  display: block;
  width: 100%;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 14px !important;
  line-height: 18px !important;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 4px;
}
#sub_btn:hover {
  background: #333;
  transition: all .5s
}
#checkbox {
  width: 1rem
}
form span {
  font-size: .8rem
}
#reset_pass_lbl {
  float: left
}
.home-page-title {
  color: #222
}
/*****************nav*****************/
.nav-item a{font-size: 14px;color: #282c34;}
/* .navbar{padding: 8px 30px !important;} */

.content-bg{
  max-height: calc(100vh - 122px);
  min-height: calc(100vh - 122px);
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer{
  background: #6BA14A;
  color: #fff;
  text-align: center;
}
.container-fluid{
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.card{
    border: 0;
    padding: 15px;
  box-shadow: 0 1px 8px #c9c3c3 !important;
}
.card img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-body{
  padding: 12px !important;
}
/* #root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
} */

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 7em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 16px;
}

.btn-primary {
  border: none;
  outline: 0;
  padding: 8px 12px;
  color: white !important;
  background-color: #000 !important;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}
.btn-primary:hover{
  background-color: #ffffff !important;
  color: #000  !important;
  border: 1px solid #000 !important;
}

/* Cart CSS */

*{
  margin:0;
  padding:0;
}
nav{
  width: 100%;
  /* height: 60px; */
  /* background-color: skyblue; */
}
.nav_box{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_shop{
  font-size: 1rem;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  color: #fff;
}
.cart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding-right: 8px;
}

.cart span{
  font-size: 1.5rem;
  color: white;
  position: relative;
}
.navbar-brand{
  margin: 0 !important;
}
.cart span span{
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 10px;
  position: absolute;
  top: -6px;
  right: -8px;
}
*{
  margin: 0;
  padding: 0;
}
article{
  width: 60%;
  margin: auto;
}
.cart_box img{
  width: 50px;
  height: 50px;
}
.cart_img{
  display: flex;
  width: 400px;
}
.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}
.cart_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}
.cart_box div:nth-child(3) button{
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border:none;
  outline: none;
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
  background-color: darkseagreen;
}
.cart_box div:nth-child(3) span{
  background-color: lightgreen;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1){
  font-size: 2rem;
  color: skyblue;
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2){
  font-size: 2rem;
  color: green;
  font-weight: bold;
}

.section-cart{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cards{
  width: 250px;
  padding: 20px;
}
.cards:hover{
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
.image_box img{
  width: auto;
  height: 160px;
}
.title{
  font-size: 34px;
  margin: 0;
  color: #000000;
  font-weight: 500;
}
.card-title{
  font-weight: bold;
  white-space: nowrap;
  /* width: 50px; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_desc{
  color: grey;
  font-size: 0.8rem;
  height: 30px;
}
.details p:nth-child(3){
  font-weight: bold;
  color: grey;
}
.details button{
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
  border-radius: 2px;
}

.warning{
  height: 40px;
  width: 250px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:#6BA14A; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999797; 
}
.react-multi-carousel-track{
  padding: 15px 5px !important;
}
.react-multi-carousel-item, .react-multi-carousel-item--active{
  margin-right: 15px !important;
  margin-bottom: 30px !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 12px !important;
  color: #fff;
}
.react-multiple-carousel__arrow {
  min-width: 25px !important;
  max-width: 25px !important;
  min-height: 25px !important;
  max-height: 25px !important;
  right: 5px !important;
}
.react-multiple-carousel__arrow--left {
  left: 5px !important;
}