.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#reg_btn:hover span {
padding-right: 25px;
}
#reg_btn:hover span:after {
opacity: 1;
right: 0;
}
h2 {
  font-weight: 300
}
form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}
.sign_in{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign_in form{
  max-width: 600px;
}
form label {
  text-align: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}
.font-12{font-size: 12px;}
.log_in{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}
.form-control {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  height: 34px;
  font-size: 14px !important;
  line-height: 18px !important;
  outline: none;
  border: none;
  display: block;
  width: 100%;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 14px !important;
  line-height: 18px !important;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 4px;
}
#sub_btn:hover {
  background: #333;
  transition: all .5s
}
#checkbox {
  width: 1rem
}
form span {
  font-size: .8rem
}
#reset_pass_lbl {
  float: left
}
.home-page-title {
  color: #222
}
/*****************nav*****************/
.nav-item a{font-size: 14px;color: #282c34;}
/* .navbar{padding: 8px 30px !important;} */

.content-bg{
  min-height: calc(100vh - 154px);
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer{
  background: #6BA14A;
  color: #fff;
  text-align: center;
}
.container-fluid{padding: 0 30px !important;}
.card{
  border: 0;
  box-shadow: 0 1px 8px #c9c3c3 !important;
}
.card img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-body{
  padding: 12px !important;
}